@font-face {
    font-family:muli-regular;
    src: url('../font/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family:muli-bold;
    src: url('../font/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}
body{
	margin:0;
}
body, html, a, p, small, b, strong , label, div,table ,tbody ,td ,tr , span, h1,h2,h3,h4,h5,h6{
	font-family:muli-regular;
}
.container
{
	width:100%;
	height:100%;
	display:inline-block;
	background-color: #2B2B2B;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.left_body{
	width:50%;
	padding-top: 25%;
	float: left;
}
.right_body{
	width:50%;
	float:right;
	padding-top:9%;
}

.login-panel{
	width: 28%;
	border-radius:2px;
	background-color: white;
	padding:3%;
	position: absolute;
	left: 7%;
	top: 25%;
}
.title>.caption{
	font-family:muli-bold;
	font-size:22px;
	text-transform: uppercase;
	margin: 0;
	padding-bottom:10%;
}
.title>.caption-details
{
font-family:muli-regular;
font-size:16px;
text-transform: capitalize;
}
.input
{
	width:100%;
	position: relative;
}
.input-text-span{
	position: absolute;
    top: 30px;
    left: 5px;
    color: gray;
    pointer-events: none;
    font-size:16px;
}

.input>input
{
	width: 100%;
	padding: 3px 0px 8px 5px;
	margin-top:10%;
	font-family:muli-regular;
	font-size: 16px;
	
	border: none;
    border-bottom: 1px solid #b4b4b4;
}
.input>input:focus, .input>select:focus{
	outline:none;
	border-bottom: 2px solid #4C9ED9;
	transition: 0.1s;
}
.input>input:focus ~ .input-text-span, .input>select:focus ~ .input-text-span,  .input-has-value {
	top:10px;
	font-size:12px;
	transition: 0.1s;
}
.input-has-value{
	top:10px;
	font-size:12px;
	transition: 0.1s;
}
.input>select{
	width: 100%;
	padding: 3px 0px 8px 5px;
	margin-top:5%;
	font-family:muli-regular;
	font-size: 16px;
	border: none;
    border-bottom: 1px solid #b4b4b4;
	background:white;
	-webkit-appearance:none;
	-moz-appearance: none;
	color:gray;
}
.domain-dropdown::after{
	content:'';
	display:block;
	width:10px;
	background:black;
	height:10px;
}

.domain-dropdown option{
	font-size: 16px;
	font-family: muli-regular;
	padding:5px;
}

.input>.btn{
	background-color: #fff;;
	color:#000;
	border: 1px solid #000;
	font-family:muli-bold;
	font-size:18px;
	text-transform: uppercase;
	margin-top:10%;
	padding: 13px 12px;
	cursor: pointer;
	letter-spacing: 1px;
	border-radius:0;
}
.input>.btn:focus{
	border-bottom: 1px solid #000 !important;
}
.input>.btn:hover{
	background-color:black;
	transition:0.3s ease-in;
	color: #fff;
}
.logo_img_div{
	width:100%;
	display: block;
	margin: 0px auto;
	text-align: center;
}
.img_company_logo{
	width:auto;
	max-width:40%;
}
.website_link_div{
	width: 100%;
	padding-top:5%;
	text-align: center;
}
.website_link_a{
	font-size: 30px;
	font-family: muli-regular;
	color: #959595;
	text-decoration: none;
}
.website_link_a_page{
	font-size: 20px;
	font-family: muli-regular;
	color: #959595;
	text-decoration: none;
}

.culture{
	margin-right:5px;
}
.blog{
	margin-left:10px;
}
.fade-in-box{
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.error_msg , .error_msg_select{
	display:none;
	font-size: 12px;
	color: red;
	padding-top: 2px;
	font-family: muli-regular;
}

/* Question Section */

.next-prev-section{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	padding: 2% 4% 2% 4%;
}
.prev-next-div{
	float:right;
}
.prv_btn, .next_btn{
	background: transparent;
	padding: 9px 30px !important;
	border: none; 
	font-family: muli-bold !important;
	
	border-radius: 4px;
	text-transform: capitalize;
	transition: 0.5s;
	font-size:16px;
	color:#fff;	
}
.prv_btn > i, .next_btn > i{
	font-size:13px;
}
.prv_btn:hover{
	background-color: transparent;
	border: none;
	color:#fff;
}
.next_btn:hover{
	background-color: transparent;
	border: none;
	color:#fff;
}
.next_btn{
	float:right;
}

.prv_btn:hover i {
	transform: translate(-5px);
 	transition:0.3s;
 	transition-timing-function: ease-in;
	-webkit-transform: translate(-5px);
}
.next_btn:hover i {
	transform: translateX(5px);
 	transition:0.3s;
 	transition-timing-function: ease-in;
	-webkit-transform: translateX(5px);
}

/*.blink:before {
  -webkit-animation: ripple 1.5s linear infinite;
  animation: ripple 1.5s linear infinite;
}
.blink:after {
  -webkit-animation: ripple 1.5s linear 1s infinite;
  animation: ripple 1.5s linear 1s infinite;
}
.blink:before,
.blink:after {
  content:'';
  display:block;
  position:absolute;
  top:0; right:0; bottom:0; left:0;
  border-radius:50%;
  background:rgba(0, 0, 0, 0.37);
  z-index:-2;
}

@-webkit-keyframes ripple{
  0% {-webkit-transform:scale(1); }
  75% {-webkit-transform:scale(1.50); opacity:1;}
  100% {-webkit-transform:scale(1.75); opacity:0;}
}

@keyframes ripple{
  0% {transform:scale(1); }
  75% {transform:scale(1.50); opacity:1;}
  100% {transform:scale(1.75); opacity:0;}
}*/

.blink{
	width: auto;
	height: auto;
	border-radius:0;
	padding: 13px 20px 13px 20px;
	background: #000;
	cursor:pointer;
	/*width: 30px;
	height: 30px;
	background: #000;
	display:block;
	position:relative;
	border-radius:50%;
    -webkit-transition:height .25s ease, width .25s ease;
	transition:height .25s ease, width .25s ease;
	-webkit-transform:translate(0%,0%);
	transform:translate(0%,0%);
	cursor:pointer;
	right:6px;*/
}
.blink_text{
	font-size: 16px;
	font-family: muli-bold;
	color: #fff;
}
/*.blink_text{
	opacity:1;
}
.blink:hover .blink_text{
	opacity:1;
	color: white;
	font-size: 16px;
	font-family: muli-bold;
} 
.blink:hover{
	width: auto;
	height: auto;
	border-radius:0;
	padding: 13px 20px 13px 20px;
	transition:0.3s;
	right:0;
	border-top-left-radius: 10%;
	border-bottom-left-radius: 10%;
}
.blink:hover:after{
	background:none;
}
.blink:hover:before{
	background:none;
}
.lefttoright{
	position: relative;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation: lefttoright;
    width: auto;
	height: auto;
	border-radius:0;
	padding: 13px;
}
@-webkit-keyframes lefttoright {
    from {right: 0px;}
    to {right: 200px;}
}

@keyframes lefttoright {
    from {right: 0px;}
    to {right: 200px;}
}*/
.thankyou_msg_div{
	text-align:center;
}
.thankyou_msg{
	font-size:50px;
	font-family:muli-bold;
	color:#fff;
	padding-bottom: 15%;
}
.back_to_exam{
	color: white;
    border: 1px solid #fff;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
	font-family: muli-bold;
}

.back_to_exam:hover{
	color: #fff;
	text-decoration:none;
	transition: 0.3s;
}
header, footer{
	display:none;
}
#wrapwrap{
	display: block !important;
	height: 0 !important;
}
.oe_website_login_container{
	position: absolute;
	width: 100% !important;
	padding-top: 10%;
}
.oe_website_login_container > form{
	width: 400px;
	margin: 0px auto;
}
.error_msg_p{
	font-size: 18px;
	padding-bottom: 20px;
	color: #fff;
	font-family: muli-regular;
}
