@font-face {
    font-family:muli-regular;
    /*src: url('../font/Muli/Muli-Regular.ttf');
    src: url('../font/BrandonText-Regular.otf');
    src: url('../font/JosefinSans-Regular.ttf');*/
    src: url('../font/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family:muli-bold;
    /*src: url('../font/Muli/Muli-SemiBold.ttf');
    src: url('../font/BrandonText-Regular.otf');
    src: url('../font/JosefinSans-Bold.ttf');*/
    src: url('../font/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}
.formate_step_list
{
	margin: 0px auto;
	width: 60%;
}
.main_continer
{
	width: 50%;
	margin: 0px auto;
}
.main_continer_header
{
width: 100%;
background-color: 2b2b2b;
color: white;
padding: 2%;
font-size: 17px;
font-family: muli-regular;
}
.preview_block > p
{
	font-size: 15px;
    border-bottom: 1px solid;
    padding: 1%;
    font-family: muli-regular;
}
.active_link
{
	background-color:#2b2b2b
}
.active_block
{
	display:block;
}
.init_info
{
	font-size: 12px;
}
.formate_step
{
	display: inline-block;
	font-size: 20px;
	font-family: muli-regular;
	padding: 3%;
}
.formate_step > a
{
	cursor:pointer;
}
body
{
	overflow: auto !important;
}